
header{
    /* background: #11111190; */
    /* background: #1a1a1a; */
    /* grid-column: span 4; */
 background-color: #11111190;
    /* margin-top: 1em;
  
    align-content: center;
    align-items: center;
    text-align: center;
  
  
    border-radius: .5em; */
  
   
  }