<body>


  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">
          <div class="distribution-map">
            <img src="../../assets/images/map.png" alt="" />

            <ng-container *ngFor="let warehouse of productWarehouses">
           
              <button (click)="setSelectedWarehouse(warehouse.id)"
                
                class="map-point"
             
                style= '{{ warehouse.warehouseGrid }}'>


                <div class="content">
                  <div class="centered-y">
                    <h2>{{ warehouse.warehouseName }}</h2>       
            
                    <p a routerLink="/warehouse/{{warehouse.id }}" 
                    routerLinkActive="active-link">
                    
                        <strong (click)="setSelectedWarehouse(warehouse.id)">View Inventory</strong></p>
                  </div>
                </div>
              </button>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>

