<body>
		
    <!-- <div class="ScriptTop">
        <div class="rt-container">
            <div class="col-rt-4" id="float-right">
    
                
                
            </div>
            <div class="col-rt-2">
                <ul>
                    <li><a href="https://codeconvey.com/interactive-world-map-css">Back to Tutorial</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    
    <!-- <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>Pure CSS Interactive Map Example</h1>
                    <p>A pure CSS world map with interactive hotspots.</p>
                </div>
            </div>
        </div>
    </header> -->
    
    <section>
        <div class="rt-container">
              <div class="col-rt-12">
                  <div class="Scriptcontent">
                  
                <!-- partial:index.partial.html -->
    <div class="distribution-map">
        <img src="../../assets/images/map.png" alt="" />
       
        <button class="map-point" style="top:15%;left:35%">
            <div class="content">
                <div class="centered-y">
                    <h2>Warehouse 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor totam possimus quam ex soluta.</p>
                </div>
            </div>
        </button>
        <button class="map-point" style="top:35%;left:50%">
            <div class="content">
                <div class="centered-y">
                    <h2>Warehouse 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </button>
        <button class="map-point" style="top:76%;left:82.5%">
            <div class="content">
                <div class="centered-y">
                    <h2>Warehouse 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </button>
        <button class="map-point" style="top:45%;left:16%">
            <div class="content">
                <div class="centered-y">
                    <h2>Warehouse 4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </button>
        <button class="map-point" style="top:60%;left:53%">
            <div class="content">
                <div class="centered-y">
                    <h2>Warehouse 5</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </button>
        <button class="map-point" style="top:25%;left:70%">
            <div class="content">
                <div class="centered-y">
                    <h2>Warehouse 6</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </button>
    </div>

               
                </div>
            </div>
        </div>
    </section>
         
    
   
    
        </body>
