<body>


  <!-- <div class="ScriptTop">
        <div class="rt-container">
            <div class="col-rt-4" id="float-right">
    
                
                
            </div>
            <div class="col-rt-2">
                <ul>
                    <li><a href="https://codeconvey.com/interactive-world-map-css">Back to Tutorial</a></li>
                </ul>
            </div>
        </div>
    </div> -->

  <!-- <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>Pure CSS Interactive Map Example</h1>
                    <p>A pure CSS world map with interactive hotspots.</p>
                </div>
            </div>
        </div>
    </header> -->
  <!--  -->
  <!--  -->
  <!--  -->
  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">
          <div class="distribution-map">
            <img src="../../assets/images/map.png" alt="" />

            <ng-container *ngFor="let warehouse of productWarehouses">
           
              <!-- <button
                (click)="showDetailView(warehouse.warehouseName)"
                class="map-point"
             
                style= '{{ warehouse.warehouseGrid }}'

              > -->
              <button (click)="setSelectedWarehouse(warehouse.id)"
                
                class="map-point"
             
                style= '{{ warehouse.warehouseGrid }}'

              >

              <!-- try ngStyle -->

                <div class="content">
                  <div class="centered-y">
                    <h2>{{ warehouse.warehouseName }}</h2>
                    
                    <!-- <a [routerLink]= "[{outlets:{'aux1':['inventory-detail-view']}}]"></a> -->
                    <p a routerLink="/warehouse/{{warehouse.id }}" 
                    routerLinkActive="active-link">
                    
                    <!-- <a [routerLink]= "[{outlets:{'aux1':['inventory-detail-view']}}]" >  -->
                      
                      <!-- <a routerLink= "inventory-view"> -->
                        
                        <strong>View Inventory</strong></p>
                  </div>
                </div>
              </button>
            </ng-container>
<!-- 
            <ng-container *ngIf="warehouseList.length < 1">
              <button (click)="populateWarehouseExamples()">
                Poupulate Examples
              </button>
            </ng-container>    -->

<!--  -->



          </div>
        </div>
      </div>
    </div>
  </section>
</body>



<!-- style= '{{ warehouse.warehouseGrid }}' -->