<app-header></app-header>



<router-outlet></router-outlet>
<!-- <app-inventory-view></app-inventory-view> -->

<!-- <app-warehouse-view></app-warehouse-view> -->



<router-outlet name='aux1'></router-outlet>


<!-- <app-detail-view></app-detail-view>-->


<app-footer></app-footer> 

<!-- <a routerLink= "warehouse-view"><h3>WareHouseView</h3></a>
<a routerLink= "inventory-view"><h3>InventoryView</h3></a>

<a [routerLink]= "[{outlets:{'aux1':['warehouse-detail-view']}}]"><h3>WarehouseDetailView</h3></a>
<a [routerLink]= "[{outlets:{'aux1':['inventory-detail-view']}}]"><h3>InventoryDetailView</h3></a> -->
