<body>
    <main class="task-grid">

    <article class="task box-type-3" style="margin:.5rem;">

    <div class="flex" >
        <div>
         <img src="../../assets/images/fire.png" alt="fire priority">

        </div>
        <div>

            <h2 class="name">Due: 2022-12-04</h2>
          
          </div>
        </div>
        <p>
          Some item
        </p>
        <p>
            “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
    
    </article>

    
    <article class="task box-type-3" style="margin:.5rem;">

        <div class="flex" >
            <div>
             <img src="../../assets/images/fire.png" alt="fire priority">
    
            </div>
            <div>
    
                <h2 class="name">Due: 2022-12-04</h2>
              
              </div>
            </div>
            <p>
              Some item
            </p>
            <p>
                “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
        
        </article>

        <article class="task box-type-3" style="margin:.5rem;">

            <div class="flex" >
                <div>
                 <img src="../../assets/images/fire.png" alt="fire priority">
        
                </div>
                <div>
        
                    <h2 class="name">Due: 2022-12-04</h2>
                  
                  </div>
                </div>
                <p>
                  Some item
                </p>
                <p>
                    “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
            
            </article>
        
            
            <article class="task box-type-3" style="margin:.5rem;">
        
                <div class="flex" >
                    <div>
                     <img src="../../assets/images/fire.png" alt="fire priority">
            
                    </div>
                    <div>
            
                        <h2 class="name">Due: 2022-12-04</h2>
                      
                      </div>
                    </div>
                    <p>
                      Some item
                    </p>
                    <p>
                        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                
                </article>

                <article class="task box-type-3" style="margin:.5rem;">

                    <div class="flex" >
                        <div>
                         <img src="../../assets/images/fire.png" alt="fire priority">
                
                        </div>
                        <div>
                
                            <h2 class="name">Due: 2022-12-04</h2>
                          
                          </div>
                        </div>
                        <p>
                          Some item
                        </p>
                        <p>
                            “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                    
                    </article>
                
                    
                    <article class="task box-type-3" style="margin:.5rem;">
                
                        <div class="flex" >
                            <div>
                             <img src="../../assets/images/fire.png" alt="fire priority">
                    
                            </div>
                            <div>
                    
                                <h2 class="name">Due: 2022-12-04</h2>
                              
                              </div>
                            </div>
                            <p>
                              Some item
                            </p>
                            <p>
                                “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                        
                        </article>


        
    <article class="task box-type-3" style="margin:.5rem;">

        <div class="flex" >
            <div>
             <img src="../../assets/images/fire.png" alt="fire priority">
    
            </div>
            <div>
    
                <h2 class="name">Due: 2022-12-04</h2>
              
              </div>
            </div>
            <p>
              Some item
            </p>
            <p>
                “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
        
        </article>

       
        <article class="task box-type-3" style="margin:.5rem;">

            <div class="flex" >
                <div>
                 <img src="../../assets/images/fire.png" alt="fire priority">
        
                </div>
                <div>
        
                    <h2 class="name">Due: 2022-12-04</h2>
                  
                  </div>
                </div>
                <p>
                  Some item
                </p>
                <p>
                    “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
            
            </article>
            <article class="task box-type-3" style="margin:.5rem;">

                <div class="flex" >
                    <div>
                     <img src="../../assets/images/fire.png" alt="fire priority">
            
                    </div>
                    <div>
            
                        <h2 class="name">Due: 2022-12-04</h2>
                      
                      </div>
                    </div>
                    <p>
                      Some item
                    </p>
                    <p>
                        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                
                </article>
                <article class="task box-type-3" style="margin:.5rem;">

                    <div class="flex" >
                        <div>
                         <img src="../../assets/images/fire.png" alt="fire priority">
                
                        </div>
                        <div>
                
                            <h2 class="name">Due: 2022-12-04</h2>
                          
                          </div>
                        </div>
                        <p>
                          Some item
                        </p>
                        <p>
                            “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                    
                    </article>

                    <article class="task box-type-3" style="margin:.5rem;">

                        <div class="flex" >
                            <div>
                             <img src="../../assets/images/fire.png" alt="fire priority">
                    
                            </div>
                            <div>
                    
                                <h2 class="name">Due: 2022-12-04</h2>
                              
                              </div>
                            </div>
                            <p>
                              Some item
                            </p>
                            <p>
                                “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                        
                        </article>
                        <article class="task box-type-3" style="margin:.5rem;">
            
                            <div class="flex" >
                                <div>
                                 <img src="../../assets/images/fire.png" alt="fire priority">
                        
                                </div>
                                <div>
                        
                                    <h2 class="name">Due: 2022-12-04</h2>
                                  
                                  </div>
                                </div>
                                <p>
                                  Some item
                                </p>
                                <p>
                                    “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                            
                            </article>
                            <article class="task box-type-3" style="margin:.5rem;">
            
                                <div class="flex" >
                                    <div>
                                     <img src="../../assets/images/fire.png" alt="fire priority">
                            
                                    </div>
                                    <div>
                            
                                        <h2 class="name">Due: 2022-12-04</h2>
                                      
                                      </div>
                                    </div>
                                    <p>
                                      Some item
                                    </p>
                                    <p>
                                        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ” </p>
                                
                                </article>

                            </main>
</body>