
<body>
    
    <div class="cards">
        <div class="card">
            <div class="container">
        
                <img src="{{selectedItem.imageUrl}}">
            </div>
                <!-- <img src="{{tempProduct.imageUrl}}"> -->
         
            
                <!-- <h3>{{selectedItem.name}}</h3>
                <p>
                   Qty: {{selectedItem.unitsInStock}}
                </p>
                <p>
                    Price: {{selectedItem.unitPrice| currency:'USD'}}
                 </p>

                 <p>
                    SKU:{{selectedItem.sku}}
                 </p>


                <p>
                   {{selectedItem.description}}
                </p> -->
                <div class="details">

                <form #modifyTaskForm>
                
                  <p>  <input [(ngModel)]="selectedItem.name"
    
                       type="text"
                       id="taskTitle"
                       name="taskTitle"
                       placeholder="Leave Blank For No Title Edits..."
                       ></p>

                       <p>  <input [(ngModel)]="selectedItem.name"
    
                        type="text"
                        id="taskTitle"
                        name="taskTitle"
                        placeholder="Leave Blank For No Title Edits..."
                        ></p>

                        <p>  <input [(ngModel)]="selectedItem.name"
    
                            type="text"
                            id="taskTitle"
                            name="taskTitle"
                            placeholder="Leave Blank For No Title Edits..."
                            ></p>
                          
                            <div>
                                <button style="height:30px;width:100px;background-color: grey; border: 1px; margin:5px;" (click)="deleteSelected(selectedItem.id);"><strong>delete item</strong></button>
                            <br>
                
                
                                <button style="height:30px;width:100px;background-color: grey; border: 1px; margin:5px;" (click)="updateSelected(selectedItem.id)"><strong>update item</strong></button>
                             
                            <br>
                                <button style="height:30px;width:100px;background-color: grey; border: 1px; margin:5px;" (click)="createProduct()"><strong>create item</strong></button>
                            </div>
    
    
                       <!-- <div id="taskContent"> -->
                      <p> 
            
                    <textarea   [(ngModel)]="selectedItem.description" 
                    
                                  name="taskContent" 
                                  id="taskContent" 
                            
                                  style="width:500px;">
                        </textarea></p> 
               
        
                    <!-- </div> -->
                    </form>
                
                
                </div>
            </div>
                
              
                   
                    
       

            
            </div>
            <!-- <div>
            <button style="height:30px;width:100px;background-color: grey; border: 1px;" (click)="deleteSelected(selectedItem.id);"><strong>delete item</strong></button>
            <br>


                <button style="height:30px;width:100px;background-color: grey; border: 1px;" (click)="updateSelected(selectedItem.id)"><strong>update item</strong></button>
             
            <br>
                <button style="height:30px;width:100px;background-color: grey; border: 1px;" (click)="createProduct()"><strong>create item</strong></button>
            </div>
    -->
</body>