
<body>
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="../../assets/images/fire.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>Red Lambo</h3>
                <p>
                   Qty: 100
                </p>
                <p>
                    Price: $250,000
                 </p>

                 <p>
                    Part-Number: AB12-CD34
                 </p>


                <p>
                    Details: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo perferendis neque, in consequuntur doloremque! Sit optio ea delectus deserunt, eum cumque ipsum veritatis adipisci corrupti tempore sed architecto non?
                    Details: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo perferendis neque, in consequuntur doloremque! Sit optio ea delectus deserunt, eum cumque ipsum veritatis adipisci corrupti tempore sed architecto non?
                    Details: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo perferendis neque, in consequuntur doloremque! Sit optio ea delectus deserunt, eum cumque ipsum veritatis adipisci corrupti tempore sed architecto non?
                    Details: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo perferendis neque, in consequuntur doloremque! Sit optio ea delectus deserunt, eum cumque ipsum veritatis adipisci corrupti tempore sed architecto non?
                    Details: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo perferendis neque, in consequuntur doloremque! Sit optio ea delectus deserunt, eum cumque ipsum veritatis adipisci corrupti tempore sed architecto non?
                </p>
            </div>
        </div>
        <!-- <div class="card card2">
            <div class="container">
                <img src="../../assets/images/newyork.jpg" >
            </div>
            <div class="details">
                <h3>New York</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="../../assets/images/singapore.jpg" alt="Singapore">
            </div>
            <div class="details">
                <h3>Singapore</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
            </div>
        </div> -->
    </div>
</body>