
<body>
    
    <div class="cards">
        <div class="card">
            <div class="container">
        
                <img src="{{selectedItem.imageUrl}}">
            </div>
                <!-- <img src="{{tempProduct.imageUrl}}"> -->
         
            
                <!-- <h3>{{selectedItem.name}}</h3>
                <p>
                   Qty: {{selectedItem.unitsInStock}}
                </p>
                <p>
                    Price: {{selectedItem.unitPrice| currency:'USD'}}
                 </p>

                 <p>
                    SKU:{{selectedItem.sku}}
                 </p>


                <p>
                   {{selectedItem.description}}
                </p> -->
                <div class="details">

                <form #modifyTaskForm>
                
                  <p>  
                  <label for="name" style="display: inline-block;">Modify details:</label>

                    <input [(ngModel)]="selectedItem.name"
    
                       type="text"
                       id="name"
                       name="name"
                       placeholder="Name..."
                       ></p>

                       <input [(ngModel)]="selectedItem.unitPrice"
    
                        type="text"
                        id="Price"
                        name="Price"
                        placeholder="Price..."
                        >
                    
                    
                        <input [(ngModel)]="selectedItem.unitsInStock"
    
                        type="number"
                        max="100"
                        id="qty"
                        name="qty"
                        placeholder="qty..."
                        #qty="ngModel"
                        >
                        <div *ngIf="qty.errors?.['max']" style="color:red">
                            Maximum qty is 100 units!!!! 
                          </div>
                    

                        <p>  <input [(ngModel)]="selectedItem.sku"
    
                            type="text"
                            id="sku"
                            name="sku"
                            placeholder="sku..."
                            ></p>
                          
                            <div>
                                <button style="height: 1.5em;width:100px;background-color: grey; border: 1px; margin:5px;" (click)="deleteSelected(selectedItem.id);"><strong>delete item</strong></button>
                            <br>
                
                
                                <button id="updateButton" style="height:1.5em;width:100px;background-color: grey; border: 1px; margin:5px;" (click)="updateSelected(selectedItem.id)"><strong>update item</strong></button>
                             
                            <br>
                                <button style="height:1.5em;width:100px;background-color: grey; border: 1px; margin:5px;" (click)="createProduct()"><strong>create item</strong></button>
                            </div>
    
    
                     
                      <p> 
            
                    <textarea   [(ngModel)]="selectedItem.description" 
                    
                                  name="taskContent" 
                                  id="taskContent" 
                            
                                  style="width:500px;">
                        </textarea></p> 
               
        
              
                    </form>
                
                
                </div>
            </div>
                
              
                   
                    
       

            
            </div>
       
</body>