<body>
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="../../assets/images/warehouses/warehouse{{selectedWarehouse.id}}.webp" alt="las vegas">
            </div>
            <div class="details">
                <h3>{{selectedWarehouse.warehouseName}} Warehouse</h3>
          

               <!-- {{wareHouse.warehouseName}} -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius fuga, quisquam exercitationem saepe, nisi soluta tempore, cumque quo voluptates minima id atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae odit perferendis cum eos sed eum, ut recusandae amet ullam quas, unde obcaecati, nisi temporibus quisquam corrupti! Repellendus ad eum aliquid! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, vero adipisci quia provident fuga deleniti molestias maxime perferendis sunt quis dolore, iste quam, fugiat placeat. V
                </p>
            </div>
        </div>
        <!-- <div class="card card2">
            <div class="container">
                <img src="../../assets/images/newyork.jpg" >
            </div>
            <div class="details">
                <h3>New York</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="../../assets/images/singapore.jpg" alt="Singapore">
            </div>
            <div class="details">
                <h3>Singapore</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
            </div>
        </div> -->
     
    </div>
</body>